body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 75px;
}

.bottom {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.italic {
    font-weight: 800;
}

.img-medium {
    height: 200px;
}

